{% extends 'base.html.twig' %}

{% block title %}Altcab Retrogaming{% endblock %}

{% block body %}

<a class="smooth_scroll" href="#naveu" id="scroll-to-top"><img src="images/fusée1.gif"></a>
    <!-- Navigation area starts -->
    <div class="menu-area navbar-fixed-top" id="naveu">
        <div class="container">
            <div class="row">

                <!-- Navigation starts -->
                <div class="col-md-12">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="index.html"><img src="images/Altcab.png"  alt="logo"></a>
                            </div>
                            <div>
                                <nav>
                                    <ul class="nav  navbar-right">
                                        <li><a class="smooth_scroll " href="#work"><img src="images/produits.png"  ></a></li>
                                        <li><a class="smooth_scroll " href="#actu"><img src="images/actu.png"  ></a></li>
                                        <li><a class="smooth_scroll " id="qui" href="#about"><img src="images/qui.png"  ></a></li>                         
                                        <li><a class="smooth_scroll " href="#contact"><img src="images/contacts.png" ></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigation ends -->

            </div>
        </div>
    </div>
    <!-- Navigation area ends -->

    <div class="clearfix space"></div>

    <!-- Slider area starts -->
    <section id="slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
            <div class="carousel-inner" role="listbox">

                <!-- Item 1 -->
                <div class="item active slide1">
                    <div class="table">
                        <div class="table-cell">
                            <div class="intro-text container">
                                <img class="logoslide" src="images/Altcab.png"  alt="logo">
                                <div class="title clearfix">
                                    <h2>Découvrez ou redécouvrez <span>un Univers</span>, celui du <span>RetroGaming </span> à travers <span>les bornes d'arcade Alt Cab </span></h2>
                                
                                </div>
                                <a href="#contact" class="btn btn-trnsp btn-big fixed-btn smooth_scroll">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- Slider area ends -->

    <!-- Work area ends -->
    <section id="work" class="work-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" text-center mb-60 ">
                        <h2><img src="images/produits.png"> </h2>
                       <h5> Découvrez nos laptop, bartop, borne multi et bien d'autres !</h5>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3">
                        {% for produit in produits %}
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h5 class="mt-10">{{ produit.name }}</h5>
                                    </div>
                                    <div class="card-body text-center">
                                        <a class="btn btn-primary btn-sm" href="" role="button"><img class=" h250max" src="{{ asset('uploads/photo/' ~ produit.photo) }}" alt="nop" ></a>
                                    </div>
                                    <div class="card-footer text-center">
                                      peu cher !
                                    </div>
                                </div>
                            </div>   
                        {% else %}
                        Aucunue donnée animateur.            
                        {% endfor %}
                    </div>
                </div>
            </div>

    </section>
    <!-- Work area ends -->


    <!-- callto action starts -->
    <section class="callto-action section-big ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-text pull-left">
                        <p>Envie de vous laisser tenter par un de nos produits?</p>
                        <h3>N'hésitez plus! L' age d'or du gaming n'attend plus que vous !</h3>
                    </div>
                   
                    <div class="call-button pull-right">
                        <a class="action-button btn smooth_scroll" href="#contact">DO IT !!!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- callto action ends -->


    <!-- Actu start -->
    <section id="actu" class=" section-big">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" text-center mb-30 ">
                            <h2><img src="images/actu.png"></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod incididunt
                            ametfh consectetur dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="twitter-timeline" data-lang="fr" data-width="700" data-height="500" href="https://twitter.com/HariOH02?ref_src=twsrc%5Etfw">Tweets by HariOH02</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </section>
    <!-- Actu ends -->
    

    <!-- Client area starts -->
    <section class="callto-action section-big ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-text text-center">
                        <h3><img src="images/Altcab.png" alt="logo"> Fournisseur de plaisir d'antan </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client area ends -->

    <!-- About area start -->
    <section id="about" class="about-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class=" text-center mb-30 ">
                        <h2><img src="images/qui.png"></h2>
                        <p> <span>Lorem</span> ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod incididunt ametfh consectetur dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!--About Image-->
                <div class="col-md-5 col-sm-12">
                    <div class="about-image mt-30">
                        <img src="images/fond.jpg" alt="">
                    </div>
                </div>

                <div class="col-md-7 col-sm-12">

                    <!--About Content-->
                    <div class="about-content mt-30">
                        <h3 class="sub-title">Why We Are Best Choice</h3>
                        <div class="about-details">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="space-text-top">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>

                        <!--About single-content-->
                        <div class="bdr single-content mt-30">
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="content-box">
                                <h4>ECOMMERCE</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and types.</p>
                            </div>
                        </div>

                        <!--About single-content-->
                        <div class="bdr single-content mt-30">
                            <div class="icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="content-box">
                                <h4>Marketing</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and types.</p>
                            </div>
                        </div>

                        <!--About single-content-->
                        <div class="bdr single-content mt-30">
                            <div class="icon">
                                <i class="fa fa-television  "></i>
                            </div>
                            <div class="content-box">
                                <h4>UX Design</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and types.</p>
                            </div>
                        </div>

                        <!--About single-content-->
                        <div class="bdr single-content mt-30">
                            <div class="icon">
                                <i class="fa fa-lightbulb-o  "></i>
                            </div>
                            <div class="content-box">
                                <h4>Branding</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and types.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area ends -->

    <!-- Client area starts -->
    <div class="client-area section-big">
        <div class="container">

            <!-- client carousel -->
            <div class="owl-client">

               

            </div>
            <!--  client carousel -->

        </div>
    </div>
    <!-- Client area ends -->

    <!-- Contact area starts -->
    <section id="contact" class="contact-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" text-center mb-30 ">
                        <h2><img src="images/contacts.png"></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod incididunt
						ametfh consectetur dolore magna aliqua.</p>
                    </div>
                    <div class="social-media text-center ">
                        <a href="#"><i class="fa fa-rss"></i></a>
                        <a href="https://twitter.com/harioh02" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="row contact-infos text-center">
                <div class="col-md-12">
                    <!-- Contact form starts -->
                    <div class="contact-form mt-30">

                        <!-- Submition status -->
                        <div id="form-messages"></div>

                        <form id="ajax-contact" action="assets/mailer.php" method="post">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group in_name">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Nom" required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group in_email">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="Adresse Email" required="required">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group in_subject">
                                        <input type="text" name="subject" class="form-control" id="subject" placeholder="Sujet" required="required">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group in_message">
                                        <textarea name="message" class="form-control" id="message" placeholder="Votre message" required="required"></textarea>
                                    </div>
                                    <div class="actions">
                                        <input type="submit" value="Envoyer" name="submit" id="submitButton" class="btn" title="Submit Your Message!">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Contact form ends-->

                </div>
            </div>
        </div>
        
    </section>
    <!-- Contact area ends -->


    <!-- copyright area starts -->
    <footer class="copyright-area section-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copy-right">
                        <p>Copyright &copy;2019. Designed by TL</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
