{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    
<div class="container-fluid bgbody">
    <h1 class="text-center frontwhite">Modifier un produit</h1>
    <div class="container bgcont ptb-15">

    {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('produit/_delete_form.html.twig') }}
        <div class="mt-10">
            <a href="{{ path('produit_index') }}">Retour à la liste des produits</a>
        </div>
    </div>
</div>
{% endblock %}
